.item{

    font-size: 30px;
    display: inline;
    color:white;
    background-color:silver;
    
}
ul{
background-image: url('cover\ food.jpg');
height: 40%;
width:100%;
padding-bottom: 20%;
text
}